@import url("https://fonts.googleapis.com/css?family=Merienda");
@import url("https://fonts.googleapis.com/css?family=Gochi+Hand|Merienda");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=News+Cycle");

#title {
  font-family: "Gochi Hand";
  font-size: 95px;
  text-align: -webkit-center;
  color: white;
}

.registerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
  padding-bottom: 2%;
  background-color: whitesmoke;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#item {
  width: 340px;
}

.submitbutton {
  width: 200px;
  margin-top: 30px;
  height: 30px;
}

.submitbutton:hover {
  background-color: #720000;
  cursor: pointer;
  color: white;
}
.quote {
  display: flex;
  justify-content: center;
  background-color: #720000;
  opacity: 0.5;
  height: fit-content;
}
.quoteWord {
  color: white;
  font-size: 35px;
  font-family: "Merienda";
}

.quoteAuthor {
  margin-top: 125px;
  color: white;
  font-size: 35px;
  font-family: "Merienda";
}
